<!DOCTYPE html>
<html>
<head>
  <title>Gestionus</title>
  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
  <!-- Latest Bootstrap theme -->
  <link rel="stylesheet" href="/assets/bootstrap/bootstrap-theme.min.css">
  <!-- Customize bootstrap configuration -->
  <link rel="stylesheet" href="/assets/bootstrap-customize.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/application.css">


  <!-- Custom JavaScript/CoffeScript for this template -->
  <script src="/assets/jquery.js"></script>
  <script src="/assets/jquery_ujs.js"></script>
  <script src="/assets/turbolinks.js"></script>

  <!-- Bootstrap core JavaScript, Latest compiled and minified JavaScript -->
  <script src="/assets/bootstrap/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/assets/bootstrap/ie10-viewport-bug-workaround.js"></script>
  <script src="/assets/bootstrap/ie-emulation-modes-warning.js"></script>

  <script src="/assets/application.js"></script>
  <script src="/assets/dashboard.js"></script>


  <!-- content authenticity_token -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>