<!DOCTYPE html>
<html>
<head>
  <title>Prova</title>

  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="/assets/bootstrap-theme.min.css">
  <!-- Customize configuration -->
  <link rel="stylesheet" href="/assets/bootstrap-customize.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/dashboard.css">


  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Custom JavaScript/CoffeScript for this template -->
  <%= javascript_include_tag "application" %>
  <!-- Bootstrap core JavaScript, Latest compiled and minified JavaScript -->
  <script src="/assets/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/assets/ie10-viewport-bug-workaround.js"></script>
  <script src="/assets/ie-emulation-modes-warning.js"></script>


  <!-- content authenticity_token -->
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>



</body>
</html>